.container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "[sidebar-start site-left] 1fr [sidebar-end content-start] 500px [content-end] 1fr [site-right]";
    grid-template-rows: [content-top] repeat(10, auto) [content-bottom];
}
.item {
    background: lightblue;
    grid-column: content-start;
    grid-row: content-top / content-bottom;
}
/* Each item in our grid will contain numbers */
.item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5em;
    font-size: 2rem;
    background-color: var(--green);
}

.item p {
    margin: 0 0 5px 0;
}