.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-flow: dense;
}

.item:nth-child(6n) {
    background: cornflowerblue;
    grid-column: span 6;
}

.item:nth-child(8n) {
    background: fuchsia;
    grid-column: span 2;
}

.item:nth-child(9n) {
    background: blueviolet;
    grid-row: span 2;
}

.item18 {
    background: yellow !important;
    grid-column-end: -1 !important;
}
.item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5em;
    font-size: 2rem;
    background-color: var(--green);
    /* best colour */
}

.item p {
    margin: 0 0 5px 0;
}