body {
    background: #000;
}
.container {
    width: 90%;
    line-height: 5;
    margin: 50px auto;

    display: grid;
    grid-template-columns: 90px 2fr 3fr;
    grid-template-rows: repeat(3, 50px);
    grid-gap: 1em;
}

.item {
    border: 3px solid greenyellow;
    text-align: center;
    vertical-align: middle;
    color: white;
}