body {
    background: rgb(255, 255, 255);
}

#container {
    display: grid;
    grid-template-columns: 150px 100px auto;
    grid-template-rows:  40px 100px 20px;
    grid-template-areas:
        "header header header"
        "nav aside main"
        "footer footer footer";
    /* grid-gap: 1em; */
    grid-column-gap: 1em;
    /* grid-row-gap: 1em; */
}

header {
    grid-area: header;
    background: rgb(116, 113, 113);
}

nav {
    grid-area: nav;
    background: rgb(149, 155, 243);
}

main {
    grid-area: main;
    background: rgb(180, 68, 124);
}

aside {
    grid-area: aside;
    background: rgb(116, 31, 165);
}

footer {
    grid-area: footer;
    background: rgb(58, 129, 196);
}